/* .auth-form-container, .login-form, .register-form{
    display: flex;
    flex-direction: column;
}
label{
    text-align: left;
    padding: 0.25rem 0;
}
input{
    color: white;
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
}
button{
    border: none;
    background-color: white;
    padding: 20px ;
    border-radius: 10px;
    cursor: pointer;
}

.link-btn{
    background: none;
    color: white;
    text-decoration: underline;
} */



/*Rahul's CSS code*/

@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* Hide the increment and decrement buttons on input of type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance:  textfield;
}

* {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.reg_container {
  /* display: flex;     not to include
  justify-content: center;   "  " */
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  /* background-color: #fd5d5d; */
  background-image: linear-gradient(79deg, #14023e, #02030d 25%, #01104b);
}

.container_wrapper {
  padding: 3em;
  margin: 4em;
  width: max-content;
  height: max-content;
  background-image: linear-gradient(90deg, rgba(119,107,93,1) 0%, rgba(176,166,149,1) 35%, rgba(243,238,234,1) 100%);
  border-radius: 30px;
}

.register_text {
  text-align: center;
  font-size: 2em;
  margin-top: -2%;
  color: #000;
}

.ac-logo {
  padding: 5px;
  size: 20px;
}

.item {
  padding: 0.2em;
}

.container_wrapper label,
button {
  padding: 0.2em;
}

.submit {
  text-align: center;
  margin-top: 20px;
}

.submit button {
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 4.7em;
  border: none;
  width: 100%;
  background-color: #fd5d5d;
  color: #000;
  font-size: 18px;
}

.submit button:hover {
  background-color: #ff3449;
  cursor: pointer;
  box-shadow: #b5b6fb;
}

form {
  margin: 2em auto 2em auto;
}

.input {
  width:  100%;
  padding: 20px;
  border-radius: 30px;
  border: none;
  font-size: 20px;
}

.ac {
  display: inline-block;
  font-size: medium;
  margin-top: 24px;
  margin-left: 15px;
  text-align: center;
  color: #000;
}

.ac a{
    margin-left: 2px;
    color: blue;
}

.span_class {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.span_class span {
  
  padding: 10px 10px;
  color: #000;
}

@media only screen and (max-width: 500px) {
  .container_wrapper {
    padding: 2em;
    margin: 1em;
  }

  .register_text {
    font-size: 1.8em;
  }

  .item {
    padding: 0.1em;
    text-align: center;
  }

  .container_wrapper label,
  button {
    padding: 0.1em;
  }

  .submit {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .submit button {
    padding: 0.5em 1em;
    border-radius: 4.7em;
    font-size: 14px;
  }

  form {
    margin: 1em auto 1em auto;
  }

  .input {
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
  }

  .ac {
    font-size: small;
  }

  .span_class span {
    font-size: medium;
  }
}
