@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap");

body {
  background-image: linear-gradient(79deg, #14023e, #02030d 25%, #01104b);
  color: #fff;

  transition: all 0.3s ease; 

}

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  transition: all 0.3s ease; 
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  color: white;
  justify-content: center;
  /* background-color: #B0A695; */
  /* background-image: linear-gradient(90deg, rgba(119,107,93,1) 0%, rgba(176,166,149,1) 35%, rgba(243,238,234,1) 100%); */
  /* background-image: linear-gradient( 109.6deg,  rgba(15,2,2,1) 11.2%, rgba(36,163,190,1) 91.1% ); */
  background-image: linear-gradient(79deg, #14023e, #02030d 25%, #01104b);
  
}
